name: Client UI

on:
  push:
    branches:
      - main
    paths:
      - client-ui/**
      - .github/workflows/client-ui.yml
  pull_request:
    branches:
      - main
    paths:
      - client-ui/**
      - .github/workflows/client-ui.yml

defaults:
  run:
    working-directory: ./client-ui

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: client-ui/package.json

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          cache: pnpm
          cache-dependency-path: client-ui/pnpm-lock.yaml
          node-version-file: client-ui/.nvmrc

      - run: pnpm install

      - run: pnpm run lint

  typecheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: client-ui/package.json

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          cache: pnpm
          cache-dependency-path: client-ui/pnpm-lock.yaml
          node-version-file: client-ui/.nvmrc

      - run: pnpm install

      - run: pnpm run typecheck

  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
        with:
          # renovate: datasource=github-releases depName=docker/buildx
          version: "v0.30.1"

      - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build
        with:
          context: ./client-ui
          cache-from: type=gha
          cache-to: type=gha,mode=max
