name: Documentation

on:
  push:
    branches: ["main"]
    paths-ignore:
      - client-ui/**
      - .github/workflows/client-ui.yml
  pull_request:
    branches: ["main"]
    paths-ignore:
      - client-ui/**
      - .github/workflows/client-ui.yml

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - uses: arduino/setup-protoc@c65c819552d16ad3c9b72d9dfd5ba5237b9c906b # v3.0.0

      - name: Install protoc-gen-doc
        run: |
          mkdir "${GITHUB_WORKSPACE}/bin"
          curl -sSfL "https://github.com/pseudomuto/protoc-gen-doc/releases/download/v${PROTOC_GEN_DOC_VERSION}/protoc-gen-doc_${PROTOC_GEN_DOC_VERSION}_linux_amd64.tar.gz" | tar -xzC "${GITHUB_WORKSPACE}/bin"
          echo "${GITHUB_WORKSPACE}/bin" >> "$GITHUB_PATH"
        env:
          # renovate: datasource=github-releases depName=pseudomuto/protoc-gen-doc
          PROTOC_GEN_DOC_VERSION: "1.5.1"

      - uses: peaceiris/actions-mdbook@ee69d230fe19748b7abf22df32acaa93833fad08 # v2.0.0
        with:
          # renovate: datasource=crate depName=mdbook
          mdbook-version: "0.4.40"

      - name: Generate proto.md from proto files
        run: protoc -I proto --doc_out=./docs --doc_opt=markdown,proto.md $(find proto -name "*.proto" | sort)

      - run: mdbook build

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: book

  deploy:
    needs: build

    if: github.ref_name	== 'main'

    permissions:
      pages: write
      id-token: write

    concurrency:
      group: pages

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
        id: deployment
