name: Protocol Buffers

on:
  push:
    branches:
      - main
    paths:
      - buf.yaml
      - proto/**
      - .github/workflows/proto.yml
  pull_request:
    branches:
      - main
    paths:
      - buf.yaml
      - proto/**
      - .github/workflows/proto.yml

jobs:
  buf:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: bufbuild/buf-action@8f4a1456a0ab6a1eb80ba68e53832e6fcfacc16c # v1.3.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
